:root{
    --header-footer-color: #2c3e50;
    --main-color: #1abc9c;
    --second-color: #3a546d;
}

body{
    color: white;
}

/* Generic */

h2{
    color: #333333;
}

img{
    max-width: 100%;
}

/* Header */

header{
    background-color: var(--header-footer-color);
    height: 80px;
}

/* Jumbotron */

#jumbotron{
    background-color: var(--main-color);
}

.fa-bars{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

#jumbotron img{
    width: 300px;
}

.star::after,
.star::before{
    content: '';
    display: inline-block;
    width: 12%;
    border: 2px solid white;
    vertical-align: 10px;
}

/* Portfolio */
.star-blue,
.star-blue::after,
.star-blue::before{
    color: var(--header-footer-color);
    border-color: var(--header-footer-color);
}

/* About */

#about{
    background-color: var(--main-color);
}

/* ! Remove */

section{
    min-height:400px;
}

.my-border{
    border: 2px dashed black;
}

form{
    min-height: 200px;
}