:root{
    --header-footer-color: #2c3e50;
    --main-color: #1abc9c;
    --second-color: #3a546d;
}

body{
    color: white;
}

/* Generic */

h2{
    color: #333333;
}

img{
    max-width: 100%;
}

/* Header */

header{
    background-color: var(--header-footer-color);
    height: 80px;
}

/* Jumbotron */

#jumbotron{
    background-color: var(--main-color);
}

.fa-bars{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

#jumbotron img{
    width: 300px;
}

/* Portfolio */

.star-blue,
.star-blue::after,
.star-blue::before{
    color: var(--header-footer-color);
    border-color: var(--header-footer-color);
}

.star::after,
.star::before{
    content: '';
    display: inline-block;
    width: 12%;
    border: 2px solid white;
    vertical-align: 10px;
}

/* About */

#about{
    background-color: var(--main-color);
}


/* Contact */

#contact .form-control{
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 15px;
    box-shadow: none;
}

.form-control::placeholder{
    color: var(--header-footer-color);
    font-size: large;
    font-weight: 700;
}

#contact .btn:hover{
    background-color: var(--main-color);
}


/* ! Remove */

section{
    min-height:400px;
}

.my-border{
    border: 2px dashed black;
}

/* Utilities */

.bg-blue{
    background-color: var(--header-footer-color);
}

.navbar-toggler-icon{
    filter: invert(0.5);
}

.bg-green{
    background-color: var(--main-color);
}